@if (tournee() && tournee()?.etat === 'PLANIFIEE') {
  <div class="contact-client">
    <h2>Bienvenue !</h2>
    <button class="confirm-button" (click)="onStart()">
      Commencer la tournée
    </button>
  </div>
} @else {
  @if (activeCommande(); as activeCommande) {
    <div class="contact-client">
      <h2>
        Livraison
        @if (index() === 0) {
          <span>en cours:</span>
        }
      </h2>

      <div class="client-box">
        <ul class="client-list">
          <li class="underlined">
            <a class="bold_blue_text">Client:</a>
            <p>{{ activeCommande.client.nom }} {{ activeCommande.client.prenom }}</p>
          </li>
          <li class="underlined">
            <a class="bold_blue_text">Adresse:</a>
            <p>
              {{ activeCommande.client.adresse.adresse }},
              {{ activeCommande.client.adresse.codePostal }},
              {{ activeCommande.client.adresse.ville }}
            </p>
          </li>
          <li class="underlined">
            <a class="bold_blue_text">Émail:</a>
            <p>{{ activeCommande.client.email }}</p>
          </li>
          <li class="underlined">
            <a class="bold_blue_text">Coordonnées GPS:</a>
            <p>
              {{ activeCommande.client.coords.lat }},
              {{ activeCommande.client.coords.lng }}
            </p>
          </li>
        </ul>
      </div>

      <div class="livraison-buttons">
        <button class="confirm-button" (click)="onConfirm()">
          Confirmer
        </button>

        <button class="alert-button" (click)="onSignal()">
          Signaler
        </button>
      </div>
    </div>
  } @else {
    <div class="contact-client">
      <h2>Tournée terminée !</h2>
    </div>
  }
}

<ng-template #confirmDialog let-data let-dialogRef="dialogRef">
  <h2 mat-dialog-title style="font-weight:600; font-size:1.4rem; color:#27345a;">
    {{ data.title }}
  </h2>
  <mat-dialog-content style="font-size:1rem; margin-bottom:1.5rem; color:#4a5568;">
    {{ data.message }}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      color="primary"
      style="min-width:100px; font-weight:600; border-radius:6px; margin-right:1rem;"
      (click)="dialogRef.close(true)"
    >
      Confirmer
    </button>
    <button
      mat-flat-button
      color="warn"
      style="min-width:100px; font-weight:600; border-radius:6px;"
      (click)="dialogRef.close(false)"
    >
      Annuler
    </button>
  </mat-dialog-actions>
</ng-template>

